<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>ND4J</h1>
        <h2>Scientific Computing for Java</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/getstarted.html'>Get Started</a></li>
          <li><a href='/elementwise.html'>Documentation</a></li>
          <li><a href='https://groups.google.com/forum/#!forum/nd4j'>Google Group</a></li>
          <li><a href='/about.html'>About</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container content">

      {{ content }}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
